
<div class="hero">

<div class="title">
  <h1>Search for a Movie!</h1>
</div>
<form action="/movielist" class="form">
<label for="search"></label>
<input type="text" id="search" name="movie" placeholder="Enter a movie title...">
<button>Search</button>
</form>
</div>
