<h1>Watchlist</h1>
<p>
  <% if @movies.empty? %>
    Your watchlist is empty.
  <% else %>
    Movies in your watchlist:
    <ul>
      <% @movies.each do |movie| %>
        <li><%= movie %></li>
      <% end %>
    </ul>
  <% end %>
</p>

<h4><a href="/">Search for another movie</a></h4>
