<div class="watchlist_container">
<h1>My Watchlist</h1>
  <div class="watchlist_list">
  <% @watchlist.each do |movie_title| %>
    <h2 class="watchlist_title"><%= movie_title %></h2>
    <form action="/movie">
    <input type="hidden" name="movie" value='<%= movie_title %>''>

    <button class="btn_movie_info">Movie Info</button>
    </form>
  <% end %>
  </div>
  </div>
