body {
  background-color: #121212;
  color: white;
  font-family: "Karla", 'sans-serif';
  position: relative;
  min-height: 100vh; 
 
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 340px;
  margin: 0 auto;
}

header li {
  list-style: none;
  display: inline-block;
  padding: 0 8px;
}
.nav_title {
  padding-left: 5px;
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 400px;
  margin: 0 auto;
 
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

h1 {
  max-width: 300px;
}
.hero_h1 {
  font-size: 1.7rem;
}

h3 {
  margin-bottom: -10px;
}

img {
  max-width: 380px;
  border-radius: 2px;
}

.movie_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.overview  {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  padding: 0 15px;
}

.release {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  max-width: 400px;
  padding: 0 15px;
}

.rating {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 400px;
  padding: 0 15px;
}

button {
  background-color: rgb(29, 29, 246);
  color: white;
  padding: 15px;
  border: none;
  border-radius: 25px;
  font-family: "Karla", "sans-serif";
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 30px;
  
}


#search {
  width: 260px;
  max-width: 400px;
  padding: 15px;
  border-radius: 4px;
}

.home {
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 300;
  margin-top: 40px;
}

a {
  color: white;
  text-decoration: none;

}

a:visited {
  color: white;
}
.my_name:hover {
  color:rgb(29, 29, 246);
  transition: color 0.3s ease-out;
}
.another_search {
  font-size: 1.1rem;
  padding: 10px 20px;
}

@media screen and (max-width: 767px) {
  input, select, textarea {
       font-size: 16px !important;
  }
}
.added_title {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
}


.trending {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid rgb(29, 29, 246);
  margin-top: 30px;
  border-radius: 8px;
  width: 320px;
  padding: 10px 0 20px;
}

.trending_title {
  text-align: center;
  padding-left: 5px;
  max-width: 360px;
  margin-bottom: 20px;
}

.btn_trending_info {
  text-align: center;
  padding: 5px 20px;
  background-color: rgb(29, 29, 246);
  border: none;
  font-size: 1.2rem;
  margin-bottom: 20px;
 
}

.btn_trending_list_info {
  text-align: center;
  padding: 5px 20px;
  background-color: rgb(29, 29, 246);
  border: none;
  font-size: 1rem;
  margin-top: 30px;
  margin-bottom: 20px;
}

.trending_break {
  width: 260px;
}


ul {
  list-style: none;
  display: inline-block;
  text-align: left;
}

.watchlist_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto ;
  border: 2px solid rgb(29, 29, 246);
  margin-top: 30px;
  border-radius: 8px;
  width: 320px;
  padding: 10px 0 20px;
}

.watchlist_movie {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.two_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.add_btn {
  text-align: center;
  padding: 8px 20px;
  background-color: rgb(29, 29, 246);
  border: none;
  font-size: 1.2rem;
  margin: 20px 0 30px;
  
}



.home_btn {
  display: inline-block;
  text-align: center;
  padding: 8px 15px;
  background-color: rgb(29, 29, 246);
  border: none;
  font-size: .7rem;
  margin-right: 30px;
  margin-top: 40px;
}

.lucky_btn {
  display: inline-block;
  text-align: center;
  padding: 8px 15px;
  background-color: rgb(29, 29, 246);
  border: none;
  font-size: .7rem;
  margin-left: 20px;
  margin-top: 40px;
}

h2{
  text-align: center;
}

.watchlist_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  max-width: 400px;

}

.watchlist_title {
  text-align: center;
  padding-right: 15px;
}

.btn_movie_info {
  text-align: center;
  padding: 5px 20px;
  background-color: rgb(29, 29, 246);
  border: none;
  font-size: 1.2rem;
  margin-bottom: 20px;
  margin-top: -10px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 2.5rem;
}
